.footerContainer {
    width: 100%;
    height: 91px;
    margin: 27px 0 0;
    padding: 37px 24px 36px 947px;
    background-color: #575757;
  }

  .Copyright-Dassault-A {
    width: 469px;
    height: 18px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
  }